{% extends "style/base_section.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ blanket.path }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Time taken: {{ blanket.time_taken }} (ms)
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea class="form-control" rows="100" readonly="readonly">
	{{ blanket.line_profile }}
      </textarea>
    </div>
  </div>
</div>
{% endblock %}
